# Editor
.idea
.vscode

# Project, PyInstaller, build.py
__pycache__
.temp
.venv
build/__init__.py

# Dev Scripts
.test*/
scripts/dev/you-get.exe.zip

# Ignore all files in "dist/" except "dist/released/.gitkeep"
dist/*
!dist/released/
dist/released/*
!dist/released/.gitkeep

# CI
.ci
scripts/ci/release_notes.md
