# Editor
.idea
.vscode

# Project
__pycache__
.venv
## You-Get repository from `git clone`
repository/you-get/

# PyInstaller
.temp
## Ignore every file in "dist/" except "dist/released/.gitkeep"
dist/*
!dist/released/
dist/released/*
!dist/released/.gitkeep

# Dev Scripts
.test*/
scripts/dev/use-proxy.conf
scripts/dev/you-get.exe.zip

# CI
.ci
scripts/ci/release_notes.md
