## You-Get Unofficial Build Executable for Windows

### License

**[You-Get](https://github.com/soimort/you-get) is originally distributed under the [MIT license](https://github.com/soimort/you-get/blob/develop/LICENSE.txt).**

### Build

Building information of `you-get.exe` :

| Filename <br> (Building Environment) | SHA-256 of `you-get.exe` |
| :----------------------------------: | :----------------------: |
{% for %}
| {filename} <br> `(Python {py_version}_x{py_arch}, Poetry {poetry_version}, PyInstaller {pyinstaller_version})` | `{sha256}` |
{% endfor %}

### Issues

If something goes wrong when using the latest released executable, feel free to [start a new discussion](https://github.com/LussacZheng/you-get.exe/discussions) or [submit an issue](https://github.com/LussacZheng/you-get.exe/issues).
If you don't have a GitHub account, leave a message in [this page](https://blog.lussac.net/archives/315/).
You'd better attach the debug info. Get the detailed error report by adding the `--debug` option:

```shell
you-get --debug https://your.video/url/here
```

For SSL related issues, try to use `-k` option:

```shell
you-get -k --debug https://your.video/url/here
```
